<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <i><p class="text-center"><a id="btn-logout" href="#">Log out</a></p></i>
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="http://blog.datanews.io">Blog</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/login">Log in/Sign up</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>          
        </ul>
        
        <div class="fb-like" data-href="https://www.facebook.com/datanewsio" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        <div>
          <a href="https://twitter.com/datanewsio" class="twitter-follow-button" data-show-count="false">Follow @datanewsio</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <p class="copyright text-muted small">Copyright &copy; DataNews.io</p>
        <h5 class="copyright text-muted small">Disclaimer:</h5>
        <p id="disclaimer" class="copyright text-muted small">This is just an aggregator to make people's life easier. Let us know if you don't like the content. Enjoy!</p>
      </div>
    </div>
  </div>
</footer>
